<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>  
		<setting name="lazyLoadingEnabled" value="true"/>  
		<setting name="multipleResultSetsEnabled" value="true"/>  
		<setting name="useColumnLabel" value="true"/>  
		<setting name="useGeneratedKeys" value="true"/>  
		<setting name="defaultExecutorType" value="SIMPLE"/>  
		<setting name="defaultStatementTimeout" value="25000"/>  
	</settings>
	
	<!-- 注册分页拦截器 
	<plugins>  
       <plugin interceptor="com.days.common.filter.PageInterceptor">  
           <property name="databaseType" value="Oracle"/>  
       </plugin>  
    </plugins>  
	-->
    <!-- 命名空间
    <typeAliases>
    	<package name="com.days.models"/>
    </typeAliases>
     -->
    <!--
    <typeAlias alias="tSymStaff" type="com.days.models.TSymStaff"/> 
     <package name="com.days.models"/> 
     -->
    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>