<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.ffs.www.dao.mapper.PmsPermissionMapper" >
  <resultMap id="BaseResultMap" type="me.ffs.www.model.PmsPermission" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="editor" property="editor" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findPermissionsByOperatorId" parameterType="Long" resultType="String">

  select permission from pms_operator u, pms_role r,
	   pms_permission p,
	   pms_role_operator ur, pms_role_permission rp
	   where ur.operator_id=#{operatorId}
	   and u.id=ur.operator_id
	   and r.id=ur.role_id
	   and r.id=rp.role_id
	   and p.id=rp.permission_id
  </select>
</mapper>